{% extends "base.html" %}
{% block app_content%}

{% if ytUrl and title %}
<div class="form-group">
 <h1 > Playing : {{ title }}</h1>
    <video class="form-control" autoplay="" controls="" 
    style="position: absolute;top: 0; right: 0; bottom: 0; border:none; left: 0; margin: auto; height: 40px; width: 66%;" >
      <source src="{{ytUrl}}" type="video/webm">
      <p>Your browser doesn't support HTML video.</p>
    </video>
    </div>
{% else %}
<h2>No media Found. Please fill the search form</h2>
<a href="{% url 'index' %}"> Back</a>
{% endif %}

{%endblock%}
